<div class="alert">
  {{responseMessage}}
</div>
<div class="container">
  <br>
  <div class="row">
    <div class="col-md-4 col-centered">
      <label class="label" for="RecipeNameID">Recipe Name</label>
      <input class="form-control" [(ngModel)]="recipeName" type="text" id="RecipeNameID" minlength="4" placeholder="Recipe Name Here*"
        required>
    </div>
  </div>
  <br>
  <button class="btn btn-dark" (click)="addIngredient()">Add Ingredient</button>
  <form [formGroup]="recipesFormGroup">
    <hr>
    <div class="row">
      <div class="col-sm-8" formArrayName='ingredients'>
        <div class="row form-group form-horizontal" *ngFor="let recipe of recipesFormGroup.get('ingredients')['controls']; let i = index"
          [formGroupName]="i">
          <div class="col-sm-4">
            <label for="feedstockID">Material {{i+1}}</label>
            <select class="form-control" formControlName="FeedStock">
              <option *ngFor="let material of recipeMaterialsArray" [ngValue]="material" selected>{{material}}</option>
            </select>
          </div>
          <div class="col-sm-2">
            <label for="quantityID">Quantity</label>
            <input class="form-control" id="quantityID" type="number" formControlName="Quantity" min="0">
          </div>
          <div class="col-sm-2">
            <label for="measurementID">Unit</label>
            <select class="form-control" id="measurementID" formControlName="Measurement">
              <option *ngFor="let measurement of recipeMeasurementUnitsArray" [ngValue]="measurement">{{measurement}}</option>
            </select>
          </div>
          <div class="col-sm-2">
            <label for="deletebuttonID">Remove</label>
            <button class="btn btn-danger fa fa-minus" (click)="deleteRowAt(i,'ingredient')" id="deletebuttonID"></button>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-lg-12">
        <button class="btn btn-primary" (click)="addAction()">Add Action</button>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-8" formArrayName='actions'>
        <div class="row" *ngFor="let action of recipesFormGroup.get('actions')['controls']; let i = index" [formGroupName]="i">
          <div class="col-sm-4">
            <label for="actionID">Action</label>
            <select formControlName="ActionName" id="actionID" class="form-control">
              <option *ngFor="let option of recipeActionsArray" [ngValue]="option">{{option}}</option>
            </select>
          </div>
          <div class="col-sm-2">
            <label for="timeValueID">Duration</label>
            <input formControlName="ActionTime" type="number" class="form-control" id="timeValueID" min="0">
          </div>
          <div class="col-sm-2">
            <label for="timeUnitID">Unit</label>
            <select formControlName="ActionTimeUnit" id="timeUnitID" class="form-control">
              <option *ngFor="let option of recipeActionsTimeUnitsArray" [ngValue]="option">{{option}}</option>
            </select>
          </div>
          <div class="col-sm-2">
            <label for="deletebuttonID">Remove</label>
            <button class="btn btn-danger fa fa-minus" (click)="deleteRowAt(i,'action')" id="deletebuttonID"></button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <br>
  <div class="row">
    <div class="col-lg-6 pull-left">
      <button class="btn btn-outline-success" [disabled]="recipeName.length < 5 && !this.valid" (click)="finishRecipe() " data-toggle="tooltip"
        data-placement="right" [title]="'Complete all fields with *'">Finish</button>
    </div>
    <div class="col-lg-6 pull-right">
      <button class="btn btn-danger " (click)="deleteRecipe(recipeName) ">Delete Recipe</button>
    </div>
  </div>
  <hr>
</div>