<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="table-responsive">
                <table class="table" *ngFor="let recipe of recipesList">
                    <button class="btn btn-dark" [attr.id]="recipe.RecipeName" (click)="toggle($event)">{{recipe.RecipeName}}</button>
                    <div class="content" [attr.id]="recipe.RecipeName" style="display:none;">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Ingredient Name</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Measurement unit</th>
                                <th></th>
                                <th><button class="btn btn-warning" (click)="editRecipe(recipe.RecipeName)">Edit</button></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let ingredient of recipe.Ingredients">
                                <td class="recipeIngredient">{{ingredient.IngredientName}}</td>
                                <td>{{ingredient.Quantity}}</td>
                                <td>{{ingredient.MeasurementUnit}}</td>
                            </tr>
                            <tr *ngFor="let action of recipe.Actions">
                                <td class="recipeAction">{{action.ActionName}}</td>
                                <td>{{action.Duration}}</td>
                                <td>{{action.TimeMeasurementUnit}}</td>
                            </tr>
                        </tbody>
                    </div>
                </table>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h5> Select recipe if you want to see the content.</h5>
                </div>
                <div class="card-body">
                    <h6> Press edit button if you want to edit selected recipe.</h6>
                </div>
            </div>
        </div>
    </div>
</div>