<div class="container" *ngIf="isLoaded">
  <div class="row">
    <div class=" col-lg-2 col-md-2 col-sm-3 col-xs-2" *ngFor="let entry of storageMap | mapValues">
      <span><button class="btn btn-dark" id="{{entry[0]}}" (click)="toggleDepositViewWith($event)">Deposit {{entry[0]}}</button></span>
    </div>
    <div class="panel" *ngIf="auth.isUserEngineer()">
        <button class="btn btn-warning" [routerLink]="['./edit']" value="Edit">Edit</button>
      </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-8 col-sm-6">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Warehouse ID</th>
            <th scope="col">Compartment ID</th>
            <th scope="col">Feedstock</th>
            <th scope="col">Quantity</th>
            <th scope="col">Newest Supply</th>
            <th scope="col">Oldest Supply</th>
            <th scope="col">Quantity from Oldest</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let line of selectedStorage">
            <td>{{line.ID_warehouse}}</td>
            <td>{{line.ID_compartment}}</td>
            <td>{{line.FeedstockName}}</td>
            <td>{{line.QuantityStored}}</td>
            <td>{{line.NewestDateOfSupply |date}}</td>
            <td>{{line.OldestDateOfSupply |date}}</td>
            <td>{{line.QuantityFromTheOldestDate}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    
  </div>