<div class="container" *ngIf="isLoaded">
  <div class="row">
    <div class=" col-lg-2 col-md-2 col-sm-3 col-xs-2" *ngFor="let entry of storageMap | mapValues">
      <span><button class="btn btn-dark" id="{{entry[0]}}" (click)="toggleDepositViewWith($event)">Deposit {{entry[0]}}</button></span>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10 col-md-10 col-sm-10">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Warehouse ID</th>
            <th scope="col">Compartment ID</th>
            <th scope="col">Feedstock</th>
            <th scope="col">Quantity</th>
            <th scope="col">Newest Supply</th>
            <th scope="col">Oldest Supply</th>
            <th scope="col">Quantity from Oldest</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let line of selectedStorage">
            <td>{{line.ID_warehouse}}</td>
            <td>{{line.ID_compartment}}</td>
            <td>{{line.FeedstockName}}</td>
            <td>{{line.QuantityStored}}</td>
            <td>{{line.NewestDateOfSupply |date}}</td>
            <td>{{line.OldestDateOfSupply |date}}</td>
            <td>{{line.QuantityFromTheOldestDate}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-2">
      <div class="card user-card pull-right">
        <div class="card-header">
          <button class="btn btn-success">Update</button>
        </div>
        <div class="card-body">
          <h6>Impl for EditStorage.</h6>
      </div>
    </div>
  </div>
</div>