.field-icon {
    float: right;
    margin-top: -1.7rem;
    padding-right: 1.5rem;
    position: relative;
    z-index: 2;
  }
  

.center {
  text-align: center;
}

.card {
  background-color: ghostwhite;
}