.field-icon {
    float: right;
    margin-top: -1.7rem;
    padding-right: 1.5rem;
    position: relative;
    z-index: 2;
  }
  

.center  {
  text-align: center;
}
.card {
  background-color: ghostwhite;
}


p {
  letter-spacing: 0.5px;;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 0.8rem;
}

label, h4
{
  font-family: 'PT Sans Narrow', sans-serif;
}
p:hover {
  
  transition: font-size  0.5s ease;
  font-weight: bold;
  color: rgb(28, 106, 158);
  font-size: 0.85rem;
}
